body{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6vh;
    font-size: 20px;
    font-weight: 800;
    text-shadow: 2px 3px gray;
}

.input-box{
    font-size: 20px;
}

.btn{
    font-size: 20px;
    cursor: pointer;
}

.side-list{
    line-height: 10vh;
    font-size: 25px;
}

.side-list li{
    list-style: none;
    cursor: pointer;
}

.cities-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
}

.current-location{
    border: 2px solid black;
    padding: 10vh 8vw;
    border-radius: 30px;
    box-shadow: 8px 10px black;
    margin-right: 35vw;
    text-align: center;
}

.city{
    font-size: 40px;
}

.date{
    font-size: 20px;
}

.temperature{
    font-size: 70px;
    font-weight: 600;
    text-shadow: 2px 5px gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.humidity{
    font-size: 20px;
}

.wind{
    font-size: 20px;
}







.forecast{
    display: flex;
    justify-content: space-evenly;
    
}

.box1{
    border: 2px solid black;
    padding: 8vh 8vw;
}

.box2{
    border: 2px solid black;
    padding: 8vh 8vw;
}

.box3{
    border: 2px solid black;
    padding: 8vh 8vw;
}

.box4{
    border: 2px solid black;
    padding: 8vh 8vw;
}

.box5{
    border: 2px solid black;
    padding: 8vh 8vw;
}

